<div class="navbar navbar-fixed-top top-banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse"></button>
            <a href="/Home/Index" class="navbar-brand" style="height:100px;">
                <img src="~/Images/tnblogo.svg" style="height:80px;" />
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-fixed-top">
            <ul class="nav navbar-nav"></ul>
        </div>
        <div class="navbar navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="" data-toggle="dropdown" class="dropdown-toggle"
                       target="#topRight">
                        <span style="color:grey">
                            Welcome,
                            <span style="font-weight:700;">Azrul</span>
                            ( Administrator )
                        </span>
                    </a>
                    <ul id="topRight" class="dropdown-menu">
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
