@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="row">
    <div class="col-lg-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies mauris vel lacus facilisis hendrerit suscipit non tellus. Ut nunc ipsum, feugiat sit amet nulla vitae, consequat blandit erat. Morbi efficitur tortor neque, nec sollicitudin arcu fringilla a. Fusce a laoreet ligula. Ut dui neque, facilisis et ante sit amet, tincidunt dictum risus. Donec auctor elementum porta. Vestibulum a lorem justo. Nam posuere leo quis lectus sollicitudin, in laoreet sem facilisis.
    </div>
    <div class="col-lg-6">
        Suspendisse mollis sapien nunc, sed faucibus augue congue id. Duis dictum molestie velit et condimentum. Donec vitae pretium metus. Proin sapien mauris, pretium vel luctus id, pretium a eros. Quisque sit amet lorem dolor. Vivamus et velit ut mi rutrum feugiat vel vitae ex. Pellentesque et turpis sagittis, vestibulum massa eu, accumsan ex. In luctus vitae elit nec fermentum. Nam vel diam a arcu vehicula bibendum. Nam lorem dolor, mollis ac egestas eget, mattis quis nisl. Quisque lorem leo, suscipit ac libero nec, sollicitudin porta felis. Mauris nec dolor sit amet eros consequat mattis.
    </div>

</div>
